:root {
    --dark-color: #1d2123;
    --lightest-gray-color: #f2f4f5;
    --light-gray-color: #eaeef0;
    --gray-color: #d9d9d9;
    --gray-for-text: #808080;
    --light-gray-for-text: #95a0a7;
    --lightning-color: #ffc107;
}
