.wave {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transform: scale(0);
    animation: wave 0.4s linear;
    pointer-events: none;
    position: absolute;
    opacity: 0.8;
}

.wave_purple {
    background: rgba(111, 44, 255, 0.4);
    border-radius: 50%;
    transform: scale(0);
    animation: wave 0.4s linear;
    pointer-events: none;
    position: absolute;
    opacity: 0.8;
}

@keyframes wave {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
